.messageItem {
  margin: 32px 16px;

  &--self {
    background-color: #f4f4f4;
    text-align: right;
    max-width: 60%;
    align-self: end;
    padding: 32px;
    border-radius: 16px;
    border-bottom-right-radius: 0;
  }

  &--other {
    text-align: left;
  }
}
