.messages__container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.messages__header {
  padding: 16px;
  text-align: center;
  display: flex;
  justify-content: end;

  img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
  }
}

.messages__list {
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  padding-bottom: 60px;
}

.message {
  background-color: #f0f0f0;
  margin: 8px 0;
  padding: 16px;
  border-radius: 5px;
}

.messages__input {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
}

.messages__input-field {
  flex-grow: 1;
  margin: 16px;
  margin: 16px;
  margin-right: 0;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.messages__send-button {
  margin: 16px;
  padding: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-sizing: border-box;
}

.messages__send-button:hover {
  background-color: #0056b3;
}
